<%- include('./layouts/header')%>


<main class="error-container d-flex align-items-center justify-content-center bg-danger">
    <div class="text text-light text-center justify-content-center">
        <h1 class="fw-bold">Ops! Problem to realize this action :(</h1>
        <h6 class="fw-semibold mb-4"><%=message%></h6>
        <a href="/" class="btn btn-secondary">Go back to the Index Page</a>
    </div>
</main>




<%- include('./layouts/footer')%>